@import url(../about.html);
html{
    background-image: url("../images/igor-karimov-9AmKnNZw3GA-unsplash.jpg");
    

}
h1,h2{
    color: gold;
    font-family: Impact;font-size: 2em;
    background-color: black;
    margin:auto ;
   width:max-content; 
    padding:2px 20px;

    
}
p{
    color: whitesmoke;
    font-style: bold;
    font-weight: 900;
    
    
   
}

header{
    background-color: black;
    
    
}
.menu{
    justify-content: space-around;
    text-align: center;
    display: flex;    
}
.p2{
    background-color: black;
    color: red;
}
    

.p1{
    color: white;
    background-color: black;
    color: blue;
    
    
}
a{
    color: black;
    font-size: 1em;
    font-weight: 800;
    flex-wrap: wrap;   
}
li{
    margin:auto ;
   width:max-content; 
    padding: 1px 19px;
    border:  2px ;

}
header{
    background-image:url(../images/gradienta-bKESVqfxass-unsplash.jpg);
    height: 2em;
    display: flexbox;
}

*:before h1,
*:after h1 {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}  
    
