@import url(./reset.css/);
html {
        background-image: url("../images/igor-karimov-9AmKnNZw3GA-unsplash.jpg");
        
           
   
       }
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-align: center;
    color: gold;
    text-shadow: 0.1em;
    justify-content: center;
    flex-direction: column;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:gold;
    text-align: center;
    font-size: 01.5em;
    justify-content: center;
    flex-direction: column;
}    
